<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @post.bio %>
</p>

<p>
  <strong>Ratting:</strong>
  <%= @post.ratting %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
